<h2 class="text-center page-title">Log In</h2>
  
<div class=" row justify-content-center">
  <div class="col-8">
    <div class="card show-card text-center">
 
      
      <%= form_with scope: :session, url: login_path do |f| %>
        <p class="form-group">
          <%= f.label :email, class: "form-label float-left" %><br />
          <%= f.email_field :email, class: "form-control form-decoration", placeholder: "Enter Email Address here" %>
        </p>
        <br />
        <p class="form-group">
          <%= f.label :password, class: "form-label float-left" %><br />
          <%= f.password_field :password, class: "form-control form-decoration", placeholder: "Enter Password Here" %>
        </p>
        <br />

        <p>
          <%= f.submit "Log in", class: "btn btn-outline-* show-button" %>
          <%= link_to "Home Page" , root_path, class: "btn btn-outline-* show-button" %>
        </p>
      <% end %>
    </div>
  </div>

</div> 