<% obj.each do |article| %>
      <div class="card-index">
        <div class="row justify-content-center">
        
        <div class="col-8 ">
        <div class="card-block text-center">
        <% if article.user %>
          <div class="card-header font-italic"> By: <%= article.user.username %></div>
        <% end %>
        
      <div class="card-body">
        <h4 class="card-title text-bold card-title-index"><%= article.title %></h4>
          <p> 
            <%= link_to "Show", article_path(article), class: "btn btn-outline-* ind-button" %> 
          <% if logged_in? && (article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-* ind-button " %> 
            <%= link_to "Delete", article_path(article), class: "btn btn-outline-* ind-button ", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          <% if article.categories.any? %>
          <p class="text-center object-color"><span class="object-color">Categories: </span><%= render article.categories %></p>
        <% end %>
        </p>
        
      </div>
        <div class="card-footer text-muted ">
          <small class="footer-text-index">Created by: <%= article.user.username if article.user %> <%= time_ago_in_words(article.created_at) %> ago.</small>
          <small class="footer-text-index">Edited by: <%= article.user.username if article.user %> <%= time_ago_in_words(article.updated_at) %> ago.</small>
        </div>
      </div>
    </div>  
      </div>
      </div>
    <% end %>
    <p></p>