<h1 class="text-center mt-4">All Articles</h1>
<div class="card card-shell text-center">

    <% @articles.each do |article| %>
      <div class="card-index">
        <div class="row justify-content-center">
        
        <div class="col-8 ">
        <div class="card-block ">
        <div class="card-header font-italic"> By: Vincent Walker</div>
      <div class="card-body">
        <h4 class="card-title text-bold card-title-index"><%= article.title %></h4>
        <p class="card-text card-text-index"><%= article.description %></p>
        <p> 
          <%= link_to "Show", article_path(article), class: "btn btn-outline-* ind-button" %> 
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-* ind-button " %> 
          <%= link_to "Delete", article_path(article), class: "btn btn-outline-* ind-button ", method: :delete, data: {confirm: "Are you sure?"} %>
        </p>
      </div>
        <div class="card-footer text-muted ">
          <small class="footer-text-index">Created: <%= time_ago_in_words(article.created_at) %> ago.</small>
          <small class="footer-text-index">Edited: <%= time_ago_in_words(article.updated_at) %> ago.</small>
        </div>
      </div>
    </div>  
      </div>
      </div>
      <br /><br /><br />
    <% end %>
</div>
  







