<div class="show-panel">
  <div class="card show-card">
  <h1 class="text-center mt-4 object-color"><%= @article.title %></h1>
    <p class="text-center object-color">Created by: <%= @article.user.username if @article.user %></p>
    <p class="text-center mt-4 object-color">Description: <%= @article.description %></p>
    <p class="text-center">
      <%= link_to "Home Page", root_path, class: "btn btn btn-outline-* show-button" %> 
      <%= link_to "All Articles", articles_path, class: "btn btn btn-outline-* show-button" %> 
      <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn btn-outline-* show-button" %> 
      <%= link_to "Delete Article", article_path(@article), class: "btn btn btn-outline-* show-button", method: :delete, data: {confirm: "Are you sure?"} %>
    </p>
  </div>
</div>
