<h1 class="text-center mt-4">All Articles</h1>
<div class="card card-shell text-center">

    <% @users.each do |users| %>
      <div class="card-index">
        <div class="row justify-content-center">
        
        <div class="col-8 ">
        <div class="card-block ">
        <div class="card-header font-italic"> By: <%= users.username %></div>
      <div class="card-body">
        <h4 class="card-title text-bold card-title-index"><%= users.email %></h4>
        <p> 
          <%= link_to "Show", user_path(users), class: "btn btn-outline-* ind-button" %> 
          <%= link_to "Edit", edit_user_path(users), class: "btn btn-outline-* ind-button " %> 
          <%= link_to "Delete", user_path(users), class: "btn btn-outline-* ind-button ", method: :delete, data: {confirm: "Are you sure?"} %>
        </p>
      </div>
      </div>
    </div>  
      </div>
      </div>
      <br /><br /><br />
    <% end %>
</div>